@charset "UTF-8";
/* line 4, /Users/donaier/.rvm/gems/ruby-2.3.1/gems/neat-1.8.0/app/assets/stylesheets/grid/_box-sizing.scss */
html {
  box-sizing: border-box;
}

/* line 9, /Users/donaier/.rvm/gems/ruby-2.3.1/gems/neat-1.8.0/app/assets/stylesheets/grid/_box-sizing.scss */
*, *::after, *::before {
  box-sizing: inherit;
}

/* line 1, /Users/donaier/projects/motherlode/app/assets/stylesheets/base/_buttons.scss */
button, [type='button'], [type='reset'], [type='submit'] {
  appearance: none;
  background-color: #a42c00;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: ubuntu;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-align: center;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}
/* line 22, /Users/donaier/projects/motherlode/app/assets/stylesheets/base/_buttons.scss */
button:hover, button:focus, [type='button']:hover, [type='button']:focus, [type='reset']:hover, [type='reset']:focus, [type='submit']:hover, [type='submit']:focus {
  background-color: #832300;
  color: #fff;
}
/* line 28, /Users/donaier/projects/motherlode/app/assets/stylesheets/base/_buttons.scss */
button:disabled, [type='button']:disabled, [type='reset']:disabled, [type='submit']:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
/* line 32, /Users/donaier/projects/motherlode/app/assets/stylesheets/base/_buttons.scss */
button:disabled:hover, [type='button']:disabled:hover, [type='reset']:disabled:hover, [type='submit']:disabled:hover {
  background-color: #a42c00;
}

/* line 1, /Users/donaier/projects/motherlode/app/assets/stylesheets/base/_forms.scss */
fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 8, /Users/donaier/projects/motherlode/app/assets/stylesheets/base/_forms.scss */
legend {
  font-weight: 600;
  margin-bottom: 0.375em;
  padding: 0;
}

/* line 14, /Users/donaier/projects/motherlode/app/assets/stylesheets/base/_forms.scss */
label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.375em;
}

/* line 20, /Users/donaier/projects/motherlode/app/assets/stylesheets/base/_forms.scss */
input,
select,
textarea {
  display: block;
  font-family: ubuntu;
  font-size: 1em;
}

/* line 28, /Users/donaier/projects/motherlode/app/assets/stylesheets/base/_forms.scss */
[type='color'], [type='date'], [type='datetime'], [type='datetime-local'], [type='email'], [type='month'], [type='number'], [type='password'], [type='search'], [type='tel'], [type='text'], [type='time'], [type='url'], [type='week'], input:not([type]), textarea {
  appearance: none;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color 150ms ease;
  width: 100%;
}
/* line 40, /Users/donaier/projects/motherlode/app/assets/stylesheets/base/_forms.scss */
[type='color']:hover, [type='date']:hover, [type='datetime']:hover, [type='datetime-local']:hover, [type='email']:hover, [type='month']:hover, [type='number']:hover, [type='password']:hover, [type='search']:hover, [type='tel']:hover, [type='text']:hover, [type='time']:hover, [type='url']:hover, [type='week']:hover, input:not([type]):hover, textarea:hover {
  border-color: #b1b1b1;
}
/* line 44, /Users/donaier/projects/motherlode/app/assets/stylesheets/base/_forms.scss */
[type='color']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='email']:focus, [type='month']:focus, [type='number']:focus, [type='password']:focus, [type='search']:focus, [type='tel']:focus, [type='text']:focus, [type='time']:focus, [type='url']:focus, [type='week']:focus, input:not([type]):focus, textarea:focus {
  border-color: #a42c00;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(138, 37, 0, 0.7);
  outline: none;
}
/* line 50, /Users/donaier/projects/motherlode/app/assets/stylesheets/base/_forms.scss */
[type='color']:disabled, [type='date']:disabled, [type='datetime']:disabled, [type='datetime-local']:disabled, [type='email']:disabled, [type='month']:disabled, [type='number']:disabled, [type='password']:disabled, [type='search']:disabled, [type='tel']:disabled, [type='text']:disabled, [type='time']:disabled, [type='url']:disabled, [type='week']:disabled, input:not([type]):disabled, textarea:disabled {
  background-color: #f2f2f2;
  cursor: not-allowed;
}
/* line 54, /Users/donaier/projects/motherlode/app/assets/stylesheets/base/_forms.scss */
[type='color']:disabled:hover, [type='date']:disabled:hover, [type='datetime']:disabled:hover, [type='datetime-local']:disabled:hover, [type='email']:disabled:hover, [type='month']:disabled:hover, [type='number']:disabled:hover, [type='password']:disabled:hover, [type='search']:disabled:hover, [type='tel']:disabled:hover, [type='text']:disabled:hover, [type='time']:disabled:hover, [type='url']:disabled:hover, [type='week']:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover {
  border: 1px solid #ddd;
}
/* line 59, /Users/donaier/projects/motherlode/app/assets/stylesheets/base/_forms.scss */
[type='color']::placeholder, [type='date']::placeholder, [type='datetime']::placeholder, [type='datetime-local']::placeholder, [type='email']::placeholder, [type='month']::placeholder, [type='number']::placeholder, [type='password']::placeholder, [type='search']::placeholder, [type='tel']::placeholder, [type='text']::placeholder, [type='time']::placeholder, [type='url']::placeholder, [type='week']::placeholder, input:not([type])::placeholder, textarea::placeholder {
  color: #858585;
}

/* line 64, /Users/donaier/projects/motherlode/app/assets/stylesheets/base/_forms.scss */
textarea {
  resize: vertical;
}

/* line 68, /Users/donaier/projects/motherlode/app/assets/stylesheets/base/_forms.scss */
[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.375em;
}

/* line 74, /Users/donaier/projects/motherlode/app/assets/stylesheets/base/_forms.scss */
[type="file"] {
  margin-bottom: 0.75em;
  width: 100%;
}

/* line 79, /Users/donaier/projects/motherlode/app/assets/stylesheets/base/_forms.scss */
select {
  margin-bottom: 0.75em;
  width: 100%;
}

/* line 1, /Users/donaier/projects/motherlode/app/assets/stylesheets/base/_layout.scss */
html {
  box-sizing: border-box;
}

/* line 5, /Users/donaier/projects/motherlode/app/assets/stylesheets/base/_layout.scss */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* line 11, /Users/donaier/projects/motherlode/app/assets/stylesheets/base/_layout.scss */
html,
body {
  height: 100%;
  margin: 0;
}

/* line 1, /Users/donaier/projects/motherlode/app/assets/stylesheets/base/_lists.scss */
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 8, /Users/donaier/projects/motherlode/app/assets/stylesheets/base/_lists.scss */
dl {
  margin: 0;
}

/* line 12, /Users/donaier/projects/motherlode/app/assets/stylesheets/base/_lists.scss */
dt {
  font-weight: 600;
  margin: 0;
}

/* line 17, /Users/donaier/projects/motherlode/app/assets/stylesheets/base/_lists.scss */
dd {
  margin: 0;
}

/* line 1, /Users/donaier/projects/motherlode/app/assets/stylesheets/base/_media.scss */
figure {
  margin: 0;
}

/* line 5, /Users/donaier/projects/motherlode/app/assets/stylesheets/base/_media.scss */
img,
picture {
  margin: 0;
  max-width: 100%;
}

/* line 1, /Users/donaier/projects/motherlode/app/assets/stylesheets/base/_tables.scss */
table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%;
}

/* line 8, /Users/donaier/projects/motherlode/app/assets/stylesheets/base/_tables.scss */
th {
  border-bottom: 1px solid #a6a6a6;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left;
}

/* line 15, /Users/donaier/projects/motherlode/app/assets/stylesheets/base/_tables.scss */
td {
  border-bottom: 1px solid #ddd;
  padding: 0.75em 0;
}

/* line 20, /Users/donaier/projects/motherlode/app/assets/stylesheets/base/_tables.scss */
tr,
td,
th {
  vertical-align: middle;
}

/* line 1, /Users/donaier/projects/motherlode/app/assets/stylesheets/base/_typography.scss */
body {
  color: #333;
  font-family: ubuntu;
  font-size: 1em;
  line-height: 1.5;
}

/* line 8, /Users/donaier/projects/motherlode/app/assets/stylesheets/base/_typography.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: ubuntu;
  font-size: 1.25em;
  line-height: 1.2;
  margin: 0 0 0.75em;
}

/* line 20, /Users/donaier/projects/motherlode/app/assets/stylesheets/base/_typography.scss */
p {
  margin: 0 0 0.75em;
}

/* line 24, /Users/donaier/projects/motherlode/app/assets/stylesheets/base/_typography.scss */
a {
  color: #a42c00;
  text-decoration: none;
  transition: color 150ms ease;
}
/* line 29, /Users/donaier/projects/motherlode/app/assets/stylesheets/base/_typography.scss */
a:active, a:focus, a:hover {
  color: #7b2100;
}

/* line 36, /Users/donaier/projects/motherlode/app/assets/stylesheets/base/_typography.scss */
hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0;
}

/* line 16, /Users/donaier/projects/motherlode/app/assets/stylesheets/refills/_centered-navigation.scss */
.centered-navigation {
  background-color: #d2d2d2;
  border-top: 4px solid white;
  border-bottom: 4px solid #999999;
  min-height: 60px;
  width: 100%;
  z-index: 9999;
}
/* line 26, /Users/donaier/projects/motherlode/app/assets/stylesheets/refills/_centered-navigation.scss */
.centered-navigation .mobile-logo {
  display: inline;
  float: left;
  max-height: 60px;
  padding-left: 0em;
}
/* line 32, /Users/donaier/projects/motherlode/app/assets/stylesheets/refills/_centered-navigation.scss */
.centered-navigation .mobile-logo img {
  max-height: 60px;
  opacity: 0.6;
  padding: 0.8em 0;
}
@media screen and (min-width: 0px) {
  /* line 26, /Users/donaier/projects/motherlode/app/assets/stylesheets/refills/_centered-navigation.scss */
  .centered-navigation .mobile-logo {
    display: none;
  }
}
/* line 43, /Users/donaier/projects/motherlode/app/assets/stylesheets/refills/_centered-navigation.scss */
.centered-navigation .centered-navigation-mobile-menu {
  color: rgba(51, 51, 51, 0.7);
  display: block;
  float: right;
  line-height: 60px;
  margin: 0;
  padding-right: 1em;
  text-decoration: none;
  text-transform: uppercase;
}
@media screen and (min-width: 0px) {
  /* line 43, /Users/donaier/projects/motherlode/app/assets/stylesheets/refills/_centered-navigation.scss */
  .centered-navigation .centered-navigation-mobile-menu {
    display: none;
  }
}
/* line 57, /Users/donaier/projects/motherlode/app/assets/stylesheets/refills/_centered-navigation.scss */
.centered-navigation .centered-navigation-mobile-menu:focus, .centered-navigation .centered-navigation-mobile-menu:hover {
  color: #333;
}
/* line 65, /Users/donaier/projects/motherlode/app/assets/stylesheets/refills/_centered-navigation.scss */
.centered-navigation .centered-navigation-wrapper {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 999;
}
/* line 20, /Users/donaier/.rvm/gems/ruby-2.3.1/gems/neat-1.8.0/app/assets/stylesheets/mixins/_clearfix.scss */
.centered-navigation .centered-navigation-wrapper::after {
  clear: both;
  content: "";
  display: block;
}
/* line 20, /Users/donaier/.rvm/gems/ruby-2.3.1/gems/neat-1.8.0/app/assets/stylesheets/mixins/_clearfix.scss */
.centered-navigation .centered-navigation-wrapper::after {
  clear: both;
  content: "";
  display: block;
}
/* line 72, /Users/donaier/projects/motherlode/app/assets/stylesheets/refills/_centered-navigation.scss */
.centered-navigation ul.centered-navigation-menu {
  clear: both;
  display: none;
  margin: 0 auto;
  overflow: visible;
  padding: 0;
  -webkit-transform-style: preserve-3d;
  width: 100%;
  z-index: 99999;
}
/* line 82, /Users/donaier/projects/motherlode/app/assets/stylesheets/refills/_centered-navigation.scss */
.centered-navigation ul.centered-navigation-menu.show {
  display: block;
}
@media screen and (min-width: 0px) {
  /* line 72, /Users/donaier/projects/motherlode/app/assets/stylesheets/refills/_centered-navigation.scss */
  .centered-navigation ul.centered-navigation-menu {
    display: block;
    text-align: center;
  }
}
@media screen and (min-width: 0px) {
  /* line 94, /Users/donaier/projects/motherlode/app/assets/stylesheets/refills/_centered-navigation.scss */
  .centered-navigation .nav-link:first-child {
    margin-left: 2.2em;
  }
}
/* line 100, /Users/donaier/projects/motherlode/app/assets/stylesheets/refills/_centered-navigation.scss */
.centered-navigation ul li.nav-link {
  background: #d2d2d2;
  display: block;
  line-height: 60px;
  overflow: hidden;
  padding-right: 1em;
  text-align: right;
  width: 100%;
  z-index: 9999;
}
/* line 110, /Users/donaier/projects/motherlode/app/assets/stylesheets/refills/_centered-navigation.scss */
.centered-navigation ul li.nav-link a {
  color: rgba(51, 51, 51, 0.7);
  display: inline-block;
  outline: none;
  text-decoration: none;
}
/* line 116, /Users/donaier/projects/motherlode/app/assets/stylesheets/refills/_centered-navigation.scss */
.centered-navigation ul li.nav-link a:focus, .centered-navigation ul li.nav-link a:hover {
  color: #333;
}
@media screen and (min-width: 0px) {
  /* line 100, /Users/donaier/projects/motherlode/app/assets/stylesheets/refills/_centered-navigation.scss */
  .centered-navigation ul li.nav-link {
    background: transparent;
    display: inline;
    line-height: 60px;
  }
  /* line 127, /Users/donaier/projects/motherlode/app/assets/stylesheets/refills/_centered-navigation.scss */
  .centered-navigation ul li.nav-link a {
    padding-right: 1em;
  }
}
/* line 133, /Users/donaier/projects/motherlode/app/assets/stylesheets/refills/_centered-navigation.scss */
.centered-navigation li.logo.nav-link {
  display: none;
  line-height: 0;
}
@media screen and (min-width: 0px) {
  /* line 133, /Users/donaier/projects/motherlode/app/assets/stylesheets/refills/_centered-navigation.scss */
  .centered-navigation li.logo.nav-link {
    display: inline;
  }
}
/* line 142, /Users/donaier/projects/motherlode/app/assets/stylesheets/refills/_centered-navigation.scss */
.centered-navigation .logo img {
  margin-bottom: -0.5em;
  max-height: 1.5em;
  opacity: 0.6;
}
/* line 150, /Users/donaier/projects/motherlode/app/assets/stylesheets/refills/_centered-navigation.scss */
.centered-navigation li.more.nav-link {
  padding-right: 0;
}
@media screen and (min-width: 900px) {
  /* line 150, /Users/donaier/projects/motherlode/app/assets/stylesheets/refills/_centered-navigation.scss */
  .centered-navigation li.more.nav-link {
    padding-right: 1em;
  }
}
/* line 157, /Users/donaier/projects/motherlode/app/assets/stylesheets/refills/_centered-navigation.scss */
.centered-navigation li.more.nav-link > ul > li:first-child a {
  padding-top: 1em;
}
/* line 161, /Users/donaier/projects/motherlode/app/assets/stylesheets/refills/_centered-navigation.scss */
.centered-navigation li.more.nav-link a {
  margin-right: 1em;
}
/* line 165, /Users/donaier/projects/motherlode/app/assets/stylesheets/refills/_centered-navigation.scss */
.centered-navigation li.more.nav-link > a {
  padding-right: 0.6em;
}
/* line 169, /Users/donaier/projects/motherlode/app/assets/stylesheets/refills/_centered-navigation.scss */
.centered-navigation li.more.nav-link > a::after {
  position: absolute;
  top: auto;
  right: -0.4em;
  bottom: auto;
  left: auto;
  color: rgba(51, 51, 51, 0.7);
  content: "\25BE";
}
/* line 176, /Users/donaier/projects/motherlode/app/assets/stylesheets/refills/_centered-navigation.scss */
.centered-navigation li.more {
  overflow: visible;
  padding-right: 0;
}
/* line 180, /Users/donaier/projects/motherlode/app/assets/stylesheets/refills/_centered-navigation.scss */
.centered-navigation li.more a {
  padding-right: 1em;
}
/* line 184, /Users/donaier/projects/motherlode/app/assets/stylesheets/refills/_centered-navigation.scss */
.centered-navigation li.more > a {
  padding-right: 1.6em;
  position: relative;
}
@media screen and (min-width: 900px) {
  /* line 184, /Users/donaier/projects/motherlode/app/assets/stylesheets/refills/_centered-navigation.scss */
  .centered-navigation li.more > a {
    margin-right: 1em;
  }
}
/* line 192, /Users/donaier/projects/motherlode/app/assets/stylesheets/refills/_centered-navigation.scss */
.centered-navigation li.more > a::after {
  content: "›";
  font-size: 1.2em;
  position: absolute;
  right: 0.5em;
}
/* line 200, /Users/donaier/projects/motherlode/app/assets/stylesheets/refills/_centered-navigation.scss */
.centered-navigation li.more:focus > .submenu, .centered-navigation li.more:hover > .submenu {
  display: block;
}
@media screen and (min-width: 0px) {
  /* line 176, /Users/donaier/projects/motherlode/app/assets/stylesheets/refills/_centered-navigation.scss */
  .centered-navigation li.more {
    padding-right: 1em;
    position: relative;
  }
}
/* line 211, /Users/donaier/projects/motherlode/app/assets/stylesheets/refills/_centered-navigation.scss */
.centered-navigation ul.submenu {
  display: none;
  padding-left: 0;
}
@media screen and (min-width: 0px) {
  /* line 211, /Users/donaier/projects/motherlode/app/assets/stylesheets/refills/_centered-navigation.scss */
  .centered-navigation ul.submenu {
    left: -1em;
    position: absolute;
    top: 1.5em;
  }
}
@media screen and (min-width: 0px) {
  /* line 221, /Users/donaier/projects/motherlode/app/assets/stylesheets/refills/_centered-navigation.scss */
  .centered-navigation ul.submenu .submenu.fly-out-right {
    left: 11.8em;
    top: 0;
  }
}
@media screen and (min-width: 0px) {
  /* line 228, /Users/donaier/projects/motherlode/app/assets/stylesheets/refills/_centered-navigation.scss */
  .centered-navigation ul.submenu .submenu.fly-out-left {
    left: -11.8em;
    top: 0;
  }
}
/* line 235, /Users/donaier/projects/motherlode/app/assets/stylesheets/refills/_centered-navigation.scss */
.centered-navigation ul.submenu li {
  display: block;
  padding-right: 0;
}
@media screen and (min-width: 0px) {
  /* line 235, /Users/donaier/projects/motherlode/app/assets/stylesheets/refills/_centered-navigation.scss */
  .centered-navigation ul.submenu li {
    line-height: 46.15385px;
  }
  /* line 242, /Users/donaier/projects/motherlode/app/assets/stylesheets/refills/_centered-navigation.scss */
  .centered-navigation ul.submenu li:first-child > a {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
  /* line 247, /Users/donaier/projects/motherlode/app/assets/stylesheets/refills/_centered-navigation.scss */
  .centered-navigation ul.submenu li:last-child > a {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding-bottom: 0.7em;
  }
}
/* line 254, /Users/donaier/projects/motherlode/app/assets/stylesheets/refills/_centered-navigation.scss */
.centered-navigation ul.submenu li a {
  background-color: #cacaca;
  display: inline-block;
  text-align: right;
  text-decoration: none;
  width: 100%;
}
@media screen and (min-width: 0px) {
  /* line 254, /Users/donaier/projects/motherlode/app/assets/stylesheets/refills/_centered-navigation.scss */
  .centered-navigation ul.submenu li a {
    background-color: #d2d2d2;
    padding-left: 1em;
    text-align: left;
    width: 12em;
  }
}

/* line 1, /Users/donaier/projects/motherlode/app/assets/stylesheets/partials/_layout.scss */
body {
  background: linear-gradient(270deg, #616161, #ff5f24, #d2d2d2);
  background-size: 600% 600%;
  -webkit-animation: Slide 40s ease infinite;
  -moz-animation: Slide 40s ease infinite;
  animation: Slide 40s ease infinite;
}
@-webkit-keyframes Slide {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes Slide {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes Slide {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* line 26, /Users/donaier/projects/motherlode/app/assets/stylesheets/partials/_layout.scss */
.spacer {
  height: 100px;
}

/* line 30, /Users/donaier/projects/motherlode/app/assets/stylesheets/partials/_layout.scss */
.img-home {
  margin-bottom: -7px;
}

/* line 36, /Users/donaier/projects/motherlode/app/assets/stylesheets/partials/_layout.scss */
.wrapper {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}
/* line 20, /Users/donaier/.rvm/gems/ruby-2.3.1/gems/neat-1.8.0/app/assets/stylesheets/mixins/_clearfix.scss */
.wrapper::after {
  clear: both;
  content: "";
  display: block;
}
/* line 39, /Users/donaier/projects/motherlode/app/assets/stylesheets/partials/_layout.scss */
.wrapper .col1 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 6.17215%;
}
/* line 89, /Users/donaier/.rvm/gems/ruby-2.3.1/gems/neat-1.8.0/app/assets/stylesheets/grid/_span-columns.scss */
.wrapper .col1:last-child {
  margin-right: 0;
}
/* line 40, /Users/donaier/projects/motherlode/app/assets/stylesheets/partials/_layout.scss */
.wrapper .col2 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%;
}
/* line 89, /Users/donaier/.rvm/gems/ruby-2.3.1/gems/neat-1.8.0/app/assets/stylesheets/grid/_span-columns.scss */
.wrapper .col2:last-child {
  margin-right: 0;
}
/* line 41, /Users/donaier/projects/motherlode/app/assets/stylesheets/partials/_layout.scss */
.wrapper .col3 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
}
/* line 89, /Users/donaier/.rvm/gems/ruby-2.3.1/gems/neat-1.8.0/app/assets/stylesheets/grid/_span-columns.scss */
.wrapper .col3:last-child {
  margin-right: 0;
}
/* line 42, /Users/donaier/projects/motherlode/app/assets/stylesheets/partials/_layout.scss */
.wrapper .col4 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
}
/* line 89, /Users/donaier/.rvm/gems/ruby-2.3.1/gems/neat-1.8.0/app/assets/stylesheets/grid/_span-columns.scss */
.wrapper .col4:last-child {
  margin-right: 0;
}
/* line 43, /Users/donaier/projects/motherlode/app/assets/stylesheets/partials/_layout.scss */
.wrapper .col5 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 40.29137%;
}
/* line 89, /Users/donaier/.rvm/gems/ruby-2.3.1/gems/neat-1.8.0/app/assets/stylesheets/grid/_span-columns.scss */
.wrapper .col5:last-child {
  margin-right: 0;
}
/* line 44, /Users/donaier/projects/motherlode/app/assets/stylesheets/partials/_layout.scss */
.wrapper .col6 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
}
/* line 89, /Users/donaier/.rvm/gems/ruby-2.3.1/gems/neat-1.8.0/app/assets/stylesheets/grid/_span-columns.scss */
.wrapper .col6:last-child {
  margin-right: 0;
}
/* line 45, /Users/donaier/projects/motherlode/app/assets/stylesheets/partials/_layout.scss */
.wrapper .col7 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 57.35098%;
}
/* line 89, /Users/donaier/.rvm/gems/ruby-2.3.1/gems/neat-1.8.0/app/assets/stylesheets/grid/_span-columns.scss */
.wrapper .col7:last-child {
  margin-right: 0;
}
/* line 46, /Users/donaier/projects/motherlode/app/assets/stylesheets/partials/_layout.scss */
.wrapper .col8 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
}
/* line 89, /Users/donaier/.rvm/gems/ruby-2.3.1/gems/neat-1.8.0/app/assets/stylesheets/grid/_span-columns.scss */
.wrapper .col8:last-child {
  margin-right: 0;
}
/* line 47, /Users/donaier/projects/motherlode/app/assets/stylesheets/partials/_layout.scss */
.wrapper .col9 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%;
}
/* line 89, /Users/donaier/.rvm/gems/ruby-2.3.1/gems/neat-1.8.0/app/assets/stylesheets/grid/_span-columns.scss */
.wrapper .col9:last-child {
  margin-right: 0;
}
/* line 48, /Users/donaier/projects/motherlode/app/assets/stylesheets/partials/_layout.scss */
.wrapper .col10 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%;
}
/* line 89, /Users/donaier/.rvm/gems/ruby-2.3.1/gems/neat-1.8.0/app/assets/stylesheets/grid/_span-columns.scss */
.wrapper .col10:last-child {
  margin-right: 0;
}
/* line 49, /Users/donaier/projects/motherlode/app/assets/stylesheets/partials/_layout.scss */
.wrapper .col11 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 91.4702%;
}
/* line 89, /Users/donaier/.rvm/gems/ruby-2.3.1/gems/neat-1.8.0/app/assets/stylesheets/grid/_span-columns.scss */
.wrapper .col11:last-child {
  margin-right: 0;
}
/* line 50, /Users/donaier/projects/motherlode/app/assets/stylesheets/partials/_layout.scss */
.wrapper .col12 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
}
/* line 89, /Users/donaier/.rvm/gems/ruby-2.3.1/gems/neat-1.8.0/app/assets/stylesheets/grid/_span-columns.scss */
.wrapper .col12:last-child {
  margin-right: 0;
}
/* line 52, /Users/donaier/projects/motherlode/app/assets/stylesheets/partials/_layout.scss */
.wrapper .shift3 {
  margin-left: 25.58941%;
}
@media screen and (max-width: 740px) {
  /* line 57, /Users/donaier/projects/motherlode/app/assets/stylesheets/partials/_layout.scss */
  .wrapper .col1, .wrapper .col2, .wrapper .col3, .wrapper .col4, .wrapper .col5, .wrapper .col6, .wrapper .col7, .wrapper .col8, .wrapper .col9, .wrapper .col10, .wrapper .col11, .wrapper .col12 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%;
    margin-left: 8.5298%;
  }
  /* line 89, /Users/donaier/.rvm/gems/ruby-2.3.1/gems/neat-1.8.0/app/assets/stylesheets/grid/_span-columns.scss */
  .wrapper .col1:last-child, .wrapper .col2:last-child, .wrapper .col3:last-child, .wrapper .col4:last-child, .wrapper .col5:last-child, .wrapper .col6:last-child, .wrapper .col7:last-child, .wrapper .col8:last-child, .wrapper .col9:last-child, .wrapper .col10:last-child, .wrapper .col11:last-child, .wrapper .col12:last-child {
    margin-right: 0;
  }
}

/* line 1, /Users/donaier/projects/motherlode/app/assets/stylesheets/partials/_header.scss */
.header {
  display: flex;
}

/* line 5, /Users/donaier/projects/motherlode/app/assets/stylesheets/partials/_header.scss */
.header-logo {
  width: 100%;
  height: 180px;
  margin: 60px 0 30px;
  background-image: url(donat_w.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* line 1, /Users/donaier/projects/motherlode/app/assets/stylesheets/partials/_footer.scss */
.footer {
  position: relative;
  height: 120px;
  padding: 20px 0;
  text-align: center;
  background: #d2d2d2;
  border-top: 4px solid #999999;
}

/* line 11, /Users/donaier/projects/motherlode/app/assets/stylesheets/partials/_footer.scss */
img.tiny {
  height: 0.7em;
  padding: 0 5px;
}

/* line 1, /Users/donaier/projects/motherlode/app/assets/stylesheets/partials/_gallery.scss */
#gallery {
  padding: 6px;
  overflow: hidden;
}

/* line 6, /Users/donaier/projects/motherlode/app/assets/stylesheets/partials/_gallery.scss */
.image {
  position: relative;
  float: left;
  margin: 2px;
}

/* line 12, /Users/donaier/projects/motherlode/app/assets/stylesheets/partials/_gallery.scss */
span.text-content {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50%;
  width: 100%;
  background: -webkit-linear-gradient(transparent, #4e4e4e);
  background: -moz-linear-gradient(transparent, #4e4e4e);
  background: linear-gradient(transparent, #4e4e4e);
  color: white;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  transition: opacity 500ms;
  display: table;
}

/* line 29, /Users/donaier/projects/motherlode/app/assets/stylesheets/partials/_gallery.scss */
span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: bottom;
  padding-bottom: 1em;
  font-size: 1.3em;
}

/* line 37, /Users/donaier/projects/motherlode/app/assets/stylesheets/partials/_gallery.scss */
.image:hover span.text-content {
  opacity: 1;
}

/* line 1, /Users/donaier/projects/motherlode/app/assets/stylesheets/partials/_who.scss */
.who {
  text-align: center;
}

/* line 5, /Users/donaier/projects/motherlode/app/assets/stylesheets/partials/_who.scss */
.babble {
  background: #d2d2d2;
  color: rgba(51, 51, 51, 0.7);
  border-bottom: 4px solid #999999;
  padding: 15px 10px 5px;
  margin-top: 4em;
}

/* line 13, /Users/donaier/projects/motherlode/app/assets/stylesheets/partials/_who.scss */
img.xicht {
  padding-top: 20px;
  border-radius: 50%;
}

/* line 18, /Users/donaier/projects/motherlode/app/assets/stylesheets/partials/_who.scss */
.col-xicht {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%;
}
/* line 89, /Users/donaier/.rvm/gems/ruby-2.3.1/gems/neat-1.8.0/app/assets/stylesheets/grid/_span-columns.scss */
.col-xicht:last-child {
  margin-right: 0;
}
@media screen and (max-width: 740px) {
  /* line 18, /Users/donaier/projects/motherlode/app/assets/stylesheets/partials/_who.scss */
  .col-xicht {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 40.29137%;
    margin-left: 51.17883%;
  }
  /* line 89, /Users/donaier/.rvm/gems/ruby-2.3.1/gems/neat-1.8.0/app/assets/stylesheets/grid/_span-columns.scss */
  .col-xicht:last-child {
    margin-right: 0;
  }
}
