:javascript
  $("a").click(function (event) {
    if ($(this).attr('data-remote') == undefined && $(this).attr('target') != '_blank') {
      event.preventDefault();
      window.location = $(this).attr("href");
    }
  });
