%section.wrapper.tint
  .col10.shift1.mobile-full
    %table
      %tr
        %th username
        %th group
        %th admin?
      - @users.each do |u|
        %tr
          %td= u.username
          %td= u.group
          %td= u.admin?
