= render 'partials/navigation', active: 'gallery'

%section.wrapper
  #gallery.col12

:javascript
  delete window.photos;
  window.photos = [];
/ why why?

- @images.each do |image|

  :javascript
    window.photos.push({
      src:"#{image.img_file}",
      ratio:Number("#{image.ratio}"),
      position:"#{image.position}"
    });
   
:javascript 
  window.photos.sort(function(a, b) {
    return (a.position > b.position) - (a.position < b.position);
  });
  
  $(window).trigger('resize');
