= render 'partials/navigation', active: 'gallery'

%section.wrapper
  - @dates.each do |date|
    .col12
      %h3.gallery-title= date
    .col12
      .gallery
        - @images.where(date: date).each do |image|
          = image_tag image.img_file.url(:original)
