= render 'partials/navigation', active: 'home'

.wrapper
  .col12.mobile-full
    %h2.home-flashy= "#<span class='red'>bicicleta</span><span class=''>de</span><span class='red'>montaña</span>".html_safe
    = image_tag 'home.jpeg', class: 'img-home'
