= render 'partials/navigation', active: 'who'

%section
  = image_tag 'banner.jpeg'

%section.wrapper
  .col4.shift3
    .babble
      %p
        "Hauptsach es isch nöd uf Facebook..."
        %br
        — donat baier
  .col-xicht
    = image_tag 'xicht.jpeg', class: 'xicht'

.spacer
