%section.wrapper
  .col8.shift2
    .babble.quote
      %p#quote
        %br
        #author

  = link_to calendar_entries_path, class: 'col3 shift3 linked-tile' do
    .link-tile.babble
      = image_tag 'calendar.png'
      %p calendar
  = link_to documents_path, class: 'col3 linked-tile' do
    .link-tile.babble
      = image_tag 'document.png'
      %p documents
