.simple-calendar
  %table.table.table-striped
    %tbody
      - date_range.each_slice(7) do |week|
        %tr
          - week.first(5).each do |day|
            = content_tag :td, class: calendar.td_classes_for(day) do
              - if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(block)
                - capture_haml(day, sorted_events.fetch(day, []), &block)
              - else
                - block.call day, sorted_events.fetch(day, [])
