.footer {
  position: relative;
  min-height: 120px;
  padding: 20px 0;
  text-align: center;

  background: $centered-navigation-background;
  border-top: 4px solid $medium-gray;
}

img.tiny {
  height: 0.7em;
  padding: 0 5px
}
