#gallery {
  padding: 6px;
  overflow: hidden;
}

.image {
  position: relative;
  float: left;
  margin: 2px;
}

span.text-content {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50%;
  width: 100%;
  background: -webkit-linear-gradient(rgba(0,0,0,0), rgba(78,78,78,1));
  background: -moz-linear-gradient(rgba(0,0,0,0), rgba(78,78,78,1));
  background: linear-gradient(rgba(0,0,0,0), rgba(78,78,78,1));
  color: white;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  transition: opacity 500ms;
  display: table;
}

span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: bottom;
  padding-bottom: 1em;
  font-size: 1.3em;
}

.image:hover span.text-content {
  opacity: 1;
}
