body{
  background: linear-gradient(270deg, #616161, #ff5f24, #d2d2d2);
  background-size: 600% 600%;

  -webkit-animation: Slide 40s ease infinite;
  -moz-animation: Slide 40s ease infinite;
  animation: Slide 40s ease infinite;

  @-webkit-keyframes Slide {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
  @-moz-keyframes Slide {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
  @keyframes Slide {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
}

.spacer {
  height: 100px;
}

.img-home {
  margin-bottom: -7px;
}

$mobile: new-breakpoint(max-width 740px 12);

.wrapper {
  @include outer-container;
  
  .col1 { @include span-columns(1); }
  .col2 { @include span-columns(2); }
  .col3 { @include span-columns(3); }
  .col4 { @include span-columns(4); }
  .col5 { @include span-columns(5); }
  .col6 { @include span-columns(6); }
  .col7 { @include span-columns(7); }
  .col8 { @include span-columns(8); }
  .col9 { @include span-columns(9); }
  .col10 { @include span-columns(10); }
  .col11 { @include span-columns(11); }
  .col12 { @include span-columns(12); }

  .shift3 { 
    @include shift(3);
  }

  @include media($mobile) {
    .col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12 {
      @include span-columns(10);
      @include shift(1);
    }
  }

}
