body{
  background: linear-gradient(270deg, #616161, #ff5f24, #d2d2d2);
  background-size: 600% 600%;

  -webkit-animation: Slide 40s ease infinite;
  -moz-animation: Slide 40s ease infinite;
  animation: Slide 40s ease infinite;

  @-webkit-keyframes Slide {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
  @-moz-keyframes Slide {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
  @keyframes Slide {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
}

.wrapper {
  @include outer-container;
  
  .col12 { @include span-columns(12); }
}
