body{

  &.classico {
    background: linear-gradient(270deg, #616161, #ff5f24, #d2d2d2);
    background-size: 200% 100%;
    background-position: 50% 100%;
  }

  &.zhaw {
    background: linear-gradient(270deg, #616161, #ff5f24, #d2d2d2);
    background-size: 600% 600%;
    background-position: 100% 50%;
  }
}

.spacer {
  height: 100px;
}

.img-home {
  margin-bottom: -7px;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.tint {
  background: transparentize(#d2d2d2, 0.5);
  margin: 20px auto;
}

.darker-text {
  float: right;
  color: #666;
  text-align: right;
}
