@include media($mobile) {

  .hide-on-mobile {
    display: none !important;
  }

  .centered-navigation ul li.nav-link {
    display: inline-block;
    padding: 0 1em;
    width: 30%;
    text-align: center;

    a {
      padding: 0;
    }

    &:first-child {
      margin-left: 0;
    }
  }

  .centered-navigation ul li.nav-link.block-on-mobile {
    display: block;
    padding: 0;
    margin: -30px 0;
    width: auto;
  }

  .header-logo.zhaw, .header-logo {
    height: 48px;
    margin: 12px 0;
  }

  // MAIN ////////////////
  #gallery {
    .gallery-title {
      font-size: 0.7em;
      padding: 0.7em 0;
      margin-top: 4em;
      border-bottom: none
    }

    .gallery-title:before {
      left: 25%;
      top: -2em;
      height: 2px;
      width: 50%;
    }
  }

  .pagination {
    font-size: 0.7em;
    padding: 0.5em 0;
    margin: 1em 0;

    a, .current {
      padding: 0 0.5em;
    }

    .next_page, .previous_page {
      padding: 0.5em 1em;
      border-left: 2px solid #999;
      border-right: 2px solid #999;
    }
  }

  // ZHAW ////////////////
  .calendar {
    .simple-calendar {
      padding: 0 0.5em;
      .cal-date {
        font-size: 0.5em;
      }
      .day {
        height: 3em;
      }
    }
    .modul-batch {
      font-size: 1.2em;
    }
  }
}
